<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">
						About the Developers
					</h6>
					<p>
						<b>Remindr.</b> was developed by a group of first term CST<br/>
						students from BCIT. This application in 2020 was created <br>
						for our 1800 projects class final project.
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12" class="teamLinks">
					<h6 class="text-uppercase font-weight-bold">Contact the Team!</h6>
					<a href="mailto:hudson.mcmanus@gmail.com" class="teamLink">Hudson McManus</a><br>
					<a href="mailto:kwong447@my.bcit.ca" class="teamLink">Kirk Wong</a><br>
					<a href="mailto:cindylu26810@gmail.com" class="teamLink">Cindy Lu</a><br>
					<a href="mailto:mikesampson68@gmail.com" class="teamLink">Mike Sampson</a><br>
					<a href="mailto:jeessicahong@gmail.com" class="teamLink">Jessica Hong</a>
				</div>
			</div>
			<div class="footer-copyright text-center">The Team Team √</div>
		</div>
	</footer>