<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">
						Additional Information
					</h6>
					<p>
						This reminder app was developed by a group of first term CST<br/>
						students from BCIT. This application was created for our 1800 projects class <br/>
						final project.
					</p>
					<p>
						Features our application includes are ....
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<p>
						Team Members <br />hudson.mcmanus@gmail.com <br /> <br />
						567 89
					</p>
				</div>
			</div>
			<div class="footer-copyright text-center">The Team Team√</div>
		</div>
	</footer>