<div class="container">
    <div class="page-header">
        <h1>Your Current Reminders: </h1>
    </div>
    {{#each reminder}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5> <!--Reminder Name-->
            <h6 class="card-subtitle mb-2 text-muted">{{date}}</h6> <!--Date/Time-->
            <p class="card-text">{{description}}</p> <!--Description-->
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
        </div>
    </div>
    {{/each}}
</div>