<div id="shareReminderModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="shareReminderTitle" class="overFlow modal-title">Share Reminder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearCheckboxes()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm-8">
              <ul class='list-group'>
                {{#each friends}}
                  <li class='list-group-item'>
                    <p class="friendID" hidden>{{_id}}</p>
                    {{username}}
                    <input class="shareWith float-right" type="checkbox" style="width: 16px; height: 16px;">
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p id="shareSingleErrorMessage"></p>
        <button id="shareBtn" type="button" class="btn btn-primary">Share</button>
        <button type="button" onclick="clearCheckboxes()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>