<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>

<body>
	{{> navbar-landing-page}}

	<div class="modal-fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="reminder">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-fluid">
            <div class="modal-header">
                <h5 class="modal-title">Create New Reminder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="redirect()">&times;</span>
                </button>
            </div>
            <div class="modal-body fadeIn">
                {{#if error}}
					<b>{{error}}</b>
				{{/if}}
                <form id="reminderForm" action="/create" method="POST">
                    <div class="form-group">
                    <!--Get the title, description and date and time-->
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Reminder Title">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="Description">
                    </div>
                    <ul class='list-group' id="subtaskList">
                    </ul>
                    <input type="hidden" id="subtaskHidden" name="subtaskHidden">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subtasks" placeholder="New Subtask" id="newSubtask">
                        <button type="button" onclick="addSubtask()">Add</button>
                    </div>

                    <div id="tagList">
                    </div>
                    <input type="hidden" id="tagHidden" name="tagHidden">
                    <div class="form-group" id="tag-container">
                        <input type="text" class="form-control" name="tags" placeholder="New Tag" id="newTag">
                         <button type="button" onclick="addTag()">Add</button>
                    </div>

                    <div class="form-check">
                        <label for="date">Remind Me On a Day</label>
                        <input id="datePicker" type="date" class="form-control" name="date" onchange="dateChange()">
                    </div>
                    <button type="button" id= 'weatherBtn' style="margin:2px 20px 2px; border-radius: 12px;" >🌂Bring an umbrella</button>
                    <div class="form-check">
                        <label for="time">Remind Me At a Time</label>
                        <input id="timePicker" type="time" class="form-control" name="time">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="redirect()">Close</button>
                        <button type="submit" id="submitForm" class="btn btn-primary">Submit</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script>
        function redirect(){
            location.replace("/landing-page")
        }

        $(document).ready(function() {            
            // disable enter button submitting form for every text input
            $(document).on("keypress", 'form', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });

        let subtaskArray = [];
        let subtaskHidden = document.getElementById("subtaskHidden"); 
        let tagHidden = document.getElementById("tagHidden");           
        let today = new Date();
        let time = today.getHours() + ":" + today.getMinutes();
        
        // setting the default date to be the current date
        document.getElementById('datePicker').valueAsDate = today;
        
        // setting the default time to be the current time
        document.getElementById("timePicker").defaultValue = time;
        
        // upon clicking add subtask button...
        function addSubtask(){
            let description = document.getElementById("newSubtask").value;
            let newSubtask = {completed: false, description: description};
            
            // add it to the array of subtask objects
            subtaskArray.push(newSubtask);

            // display it as a list on the html page
            subtaskDisplay(description); 

            // save it to the hidden input that will be eventually sent to router.js as a json string
            subtaskHidden.value = JSON.stringify(subtaskArray);

            // clearing out the previous input
            document.getElementById("newSubtask").value = "";
        }

        // display the list of subtasks that have been entered
        function subtaskDisplay(description) {
            // get the ul element
            let subtaskList = document.getElementById("subtaskList");
            
            // create an li element
            let li = document.createElement("li");
            li.setAttribute("class", "wordWrap list-group-item");       

            // add the description text to the li element
            li.appendChild(document.createTextNode(description));

            // append a delete button to the right side
            let deleteBtn = document.createElement("button");
            deleteBtn.type = "button";
            deleteBtn.setAttribute("class", "btn btn-secondary float-right");
            
            // when delete is clicked, remove from the html li, the subtaskArray, and also the subtaskHidden input
            deleteBtn.onclick = function() {
                subtaskList.removeChild(li);
                subtaskArray = subtaskArray.filter(function( obj ) {
                  return obj.description !== description;
                });
                subtaskHidden.value = JSON.stringify(subtaskArray);
            }
            deleteBtn.innerHTML = "delete";
            li.appendChild(deleteBtn);

            subtaskList.appendChild(li);
        }

        let tagArray = [];
        // upon clicking add subtask button...
        function addTag(){
            let description = document.getElementById("newTag").value;
            let newTag = description;
            
            // add it to the array of subtask objects
            tagArray.push(newTag);

            // display it as a list on the html page
            tagDisplay(description); 

            // save it to the hidden input that will be eventually sent to router.js as a json string
            tagHidden.value = JSON.stringify(tagArray);

            // clearing out the previous input
            document.getElementById("newTag").value = "";
        }

        // display the list of subtasks that have been entered
        function tagDisplay(description) {
            // get the ul element
            let tagList = document.getElementById("tagList");
            
            let btn = document.createElement("button");
            btn.disabled = true;
            // btn.setAttribute("class", "tag");
            btn.setAttribute("class", "btn btn-secondary");

            btn.appendChild(document.createTextNode(description));

            // append a delete button to the right side
            let deleteBtn = document.createElement("i");
            deleteBtn.setAttribute("class", "fa fa-trash-o");
            
            // when delete is clicked, remove from the html li, the subtaskArray, and also the subtaskHidden input
            deleteBtn.onclick = function() {
                tagList.removeChild(btn);
                tagArray = tagArray.filter(function( elem ) {
                  return elem !== description;
                });
                tagHidden.value = JSON.stringify(tagArray);
                console.log("tagArray", tagArray)
            }
           
            btn.appendChild(deleteBtn);

            tagList.appendChild(btn);
        }

        // ++++++++++++++++++++++++++++++++  Weather  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
        //get the userlocation while open the page
        // get the date user inputted, this date can change with the input of the user

        function dateChange(){
            let datePicked = document.getElementById('datePicker').value;

            //convert this date to unix time
            let strTime = datePicked;
            let weather_date = new Date(strTime.replace(/-/g, '/'));
            // convert a date string to unix time
            let unix_time = Date.parse(weather_date);
            // format unix time from ms to second for Darksky API use 
            let strUnix = unix_time.toString().slice(0,10);
            const numUnix = parseInt(strUnix);
            console.log(numUnix);

            // get userlocation
            navigator.geolocation.getCurrentPosition(function(position){
                    userLatitude = position.coords.latitude
                    userLongitude = position.coords.longitude
                    console.log(userLatitude);
                    console.log(userLongitude);
                    // get weather forcast on specific day and specific location
                    forcast(userLatitude,userLongitude,numUnix);
            })
        }
        // get the forcast information from darksky API
        function forcast(latitude, longitude, time){
            const proxy = 'https://cors-anywhere.herokuapp.com/'
            const api = proxy+'https://api.darksky.net/forecast/5cdbb6801362ee38b81b258430c5f51c/'+latitude+","+longitude+","+time;

            fetch(api)
                .then(res =>{
                    //put result in json object
                    return res.json();
                })
                .then(data =>{
                    console.log(data);
                    // [summary]
                    // day 0
                    const day0 = data.daily.data[0].icon;
                    console.log(day0);
                    
                    // if it rains -> change the color of the button and disable it
                    if (day0 == 'rain'){
                        // if rain -> button lighten
                        document.getElementById("weatherBtn").style.background='#ffd500';
                        document.getElementById("weatherBtn").disabled = false;

                    }else{
                        document.getElementById("weatherBtn").style.background='#A9A9A9';
                        document.getElementById("weatherBtn").disabled = true;
                    }
                
                })
        }
    </script>
</body>
</html>