<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{> navbar-landing-page}}

	<div class="modal-fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="reminder">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-fluid">
            <div class="modal-header">
                <h5 class="modal-title">Create New Reminder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if error}}
					<b>{{error}}</b>
				{{/if}}
                <form action="/create" method="POST">
                    <div class="form-group">
                    <!--Get the title, description and date and time-->
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Reminder Title">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="Description">
                    </div>
                    <ul class='list-group' id="subtaskList">

                    </ul>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subtasks" placeholder="New Subtask" id="newSubtask">
                        <button type="button" onclick="addSubtask()">Add</button>
                    </div>
                    <div class="form-check">
                        <label for="date">Remind Me On a Day</label>
                        <input type="date" class="form-control" name="date" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <label for="time">Remind Me At a Time</label>
                        <input type="time" class="form-control" name="time" placeholder="Password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <script>
        let subtaskArray = [];
        
        function addSubtask(){
            let description = document.getElementById("newSubtask").value;
            let newSubtask = {completed: false, description: description};
            subtaskArray.push(newSubtask);
            subtaskDisplay(description); 
            document.getElementById("newSubtask").value = "";
        }

        function subtaskDisplay(description) {
            let subtaskList = document.getElementById("subtaskList");
            let li = document.createElement("li");
            li.setAttribute("class", "list-group-item");
            
            let checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.name = "completed";
            li.appendChild(checkbox);          

            li.appendChild(document.createTextNode(description));

            let deleteBtn = document.createElement("button");
            deleteBtn.type = "button";
            deleteBtn.setAttribute("class", "btn btn-secondary float-right");
            deleteBtn.onclick = function() {
                subtaskList.removeChild(li);
                // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/find
                subtaskArray.splice(subtaskArray.indexOf())
            }
            deleteBtn.innerHTML = "delete";
            li.appendChild(deleteBtn);

            subtaskList.appendChild(li);
        }

    </script>
</body>
</html>