<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr: An Everyday Use App!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{#if user}}
	{{> navbar-landing-page}}
	{{else}}
	{{> navbar}}
	{{/if}}
	<header class="page-header header container-fluid">
		<div class="overlay"></div>
		<div class="description">
			<!--Text can go here-->
			<h1>Track all your reminders and never worry about forgetting them</h1>
			{{#if user}}
			<p>(User {{user.username}} is logged in)</p>
			<a href="/logout"><button class="btn btn-outline-secondary btn-lg">Log Out</button></a>
			<a href="/landing-page"><button class="btn btn-outline-secondary btn-lg">Reminders</button></a>
			{{else}}
			<a href="/login"><button class="btn btn-outline-secondary btn-lg">Login</button></a>
			<a href="/register"><button class="btn btn-outline-secondary btn-lg">Register</button></a>
			{{/if}}
		</div>
	</header>

	<div class="container features">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-4 col-sm-12">
				<h3 class="feature-title text-center">About Remindr</h3>
				<p>
					<b>Remindr.</b> was developed by a group of first term CST
					students from BCIT. This application in 2020 was created
					for our 1800 projects class final project.
				</p>
				<hr>
				<h6 class="text-uppercase font-weight-bold">
					Technology Tools Used
				</h6>
				<ul class="list-group list-group-flush" id="toolsList">
					<li class="list-group-item">Node.js</li>
					<li class="list-group-item">Express.js</li>
					<li class="list-group-item">Mongoose/MongoDB</li>
					<li class="list-group-item">Bootstrap</li>
					<li class="list-group-item">Handlebars.js</li>
					<li class="list-group-item">HTML/CSS</li>
				</ul>
			</div>
		</div>
	</div>

	{{> footer}}

	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>