<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test</title>
</head>

<body>
	{{#if user}}
	<p>
		You are logged in!
		<pre>{{user}}</pre>
	</p>
	{{else}}
	<a href="/login">Login</a>
	{{/if}}
</body>

</html>