<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{> navbar-landing-page}}

	{{> reminders}}

	{{> share-reminder}}

	{{> footer}}

	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

	<script>
		function shareReminder() {
			$('#shareReminderModal').modal('show');
		}

		// on checkbox, get associated user and add to array
		// on share button, send list of users and reminder as post
		// in server, receive post and for each user, add the reminder to that user
		// redirect to /landing page
		function showSelected() {
			let checkboxes = document.getElementsByClassName("shareWith");
			for (let i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].checked == true){
					console.log(checkboxes[i].parentNode.innerText);
				}
			}		
		}
		
	</script>
</body>

</html>