<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr: An Everyday Use App!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{> navbar-landing-page}}

	{{> reminders}}

	{{> delete-reminder}}

	{{> share-reminder}}

	{{> share-multiple-reminders}}

	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/landing-page.js"></script>
</body>

</html>