<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr: An Everyday Use App!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{> navbar}}

	<header class="page-header header container-fluid">
		<div class="overlay">
			<div class="wrapper fadeInDown">
				<div id="formContent">
					<div class="fadeIn first">
						<img src="/images/remindr-logo.png" id="icon" alt="Remindr logo" />
					</div>

					<!-- Register Form -->
					<form action="/register" method="post">
						<input class="fadeIn second" type="text" name="username" placeholder="Username"><br />
						<input class="fadeIn second" type="password" name="password" placeholder="Password"><br />
						<input class="fadeIn second" type="password" name="passwordRepeat" placeholder="Repeat Password"><br />
						<input class="fadeIn second" type="submit" value="Register">
						{{#if error}}
						<p>
							<b>Error:</b> {{error}}
						</p>
						{{/if}}
					</form>
				</div>
			</div>
		</div>
	</header>
	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>