<!DOCTYPE html>
<html lang="en">

<head>
	<title>Remindr</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
	{{> navbar-landing-page}}
	<div class="container">
		<div class="row mt-4">
			<div class="col"></div>
			<div class="col-6">
				<input id='searchInput' onkeyup="searchUsers()" type="text" name="search" placeholder="Search">
			</div>
			<div class="col"></div>
		</div>		
	</div>
	
	<div class="container">
		{{#each users}}
			<div class="row mt-4">
				<div class="col"></div>
				<div class="col-6">
					<div class="card">
						<div class="card-body">	
							<p class="userList">
								{{username}}
							</p>							
							{{#if (buttonCheck this)}}
							<form action="/add-friend" method="post">
								<input type="hidden" id="newFriend" name="newFriend" value="{{_id}}">
								<button type="submit" class="btn btn-primary float-right">Add Friend</button>
							</form>
							{{else}}
							<button type="button" class="btn btn-secondary float-right" disabled>Friends</button>
							{{/if}}							
						</div>
					</div>					
				</div>
				<div class="col"></div>						
			</div>
		{{/each}}
		<div id="noResults" style="display: none;" class="row mt-4">
			<div class="col">
				<p style="text-align:center">No Results Found</p>
			</div>			
		</div>
	</div>
	<script src="/js/add-friend.js"></script>
	<script src="/jquery-3.3.1.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

